<h1>Log in</h1>

<%= form_with(url: login_path) do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Log in", class: "btn btn-primary" %>

<% end %>

<%# used the form_with helper method to create a new login form. we use email_field and password_field helper methods to create the email and password input fields %>